{% extends '/Base/base.html.twig' %}

{% block body %}
    <div>
        <h1>Contenu de votre panier</h1>
        <form>
            <table border="1" align="center">
                <tr>
                    <th> Libelle </th>
                    <th> Prix </th>
                    <th> Quantité </th>
                    <th> Action </th>
                </tr>
                {% for produit in panier %}
                    <tr>
                        <td>{{ produit.produit.libelle }}</td>
                        <td>{{ produit.produit.prix }}</td>
                        <td>{{ produit.quantitePanier }}</td>
                        <td><button><a href="{{ path("panier_delete", {'id': produit.produit.id }) }}">Supprimer</a></button></td>
                    </tr>
                {% endfor %}
            </table>

            <td><button><a href="{{ path("panier_buy") }}">Commander</a></button></td>
            <td><button><a href="{{ path("panier_clear") }}">Vider</a></button></td>
        </form>
    </div>
{% endblock %}
