{% extends 'Base/base.html.twig' %}

{% block body %}
    <h1>Liste des produits du magasin</h1>
        <table border="1" align="center">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Quantité en stock</th>
                <th>Commande</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.quantite }}</td>
                    <form method="post" action="{{ path("panier_add") }}">
                    <td>
                        {% if produit.quantite > 0 %}
                            <select name="quantite">
                                {% for i in 0..produit.quantite %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" action="{{ path('panier_add') }}">
                            <input type="hidden" name="produit_id" value="{{ produit.id }}">
                            {% if produit.quantite > 0 %}
                                <button type="submit">Ajouter au panier</button>
                            {% else %}
                                <button type="button" disabled>Produit indisponible</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}