{% extends 'Base/base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs du magasin</h1>
    <form method="post" action="{{ path("shop_add") }}">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% for user in users %}
                {% if user.roles[0] == 'ROLE_ADMIN' %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.birthday|date('d/m/Y') }}</td>
                    <td>{{ user.roles[0] }}</td>
                    <td>
                        <form action="{{ path('user_deleteUser',{'id' : user.id}) }}" methode="post">
                            <input type="hidden" name="method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {% for user in users %}
                    {% if user.roles[0] == 'ROLE_CLIENT' %}
                        <tr>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.birthday|date('d/m/Y') }}</td>
                            <td>{{ user.roles[0] }}</td>
                            <td>
                                <form action="{{ path('user_deleteUser',{'id' : user.id}) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <button>Ajouter un utilisateur </button>
    </form>

{% endblock %}